---
layout: default
ref: services
lang: en
---
{% include en/header.html %}
        <!-- SERVICES -->
        <div id="services-link" class="page-section bg-g-b-grad pt-160-b-120-cont ">
            <div class="container">
                <div class="section-title2 font-raleway font-white font-light p-0 text-center pb-20">Services</div>
              <!-- TABS NAV -->
              <div class="row">
                  <ul class="fes14-nav-tabs nav nav-tabs bootstrap-tabs port-filter list-inline pb-20">
                    <li><a href="#" class="fes14-nav-a filter active " data-filter="*"><div class="tab-nav-icon fa fa-plus font-white"></div><div class="tab-nav-text font-raleway font-white">Tout</div></a></li>
                    {% for filter in site.data.services.filters_en %}
                      <li><a href="#" class="fes14-nav-a filter" data-filter=".{{filter.filter}}"><div class="tab-nav-icon {% if filter.fab %}fab fa-{{filter.fa}}{% else %}fa fa-{{filter.fa}}{% endif %} font-white"></div><div class="tab-nav-text font-raleway font-white">{{ filter.name }}</div></a></li>
                    {% endfor %}
                  </ul>
                
              </div>
              <div class="row">
                <ul class="port-grid port-grid-5 clearfix masonry" id="items-grid">
                  {% for service in site.data.services.services %}
            
                    <li class="port-item mix {{service.filter}}">
                        <p class="text-center"><button type="button" class="btn btn-default btn-circle btn-lg " style="color:white; background-color: {{service.color}};"><img src="/images/img-services/{{service.slug}}.svg"></button></p>
                        <p style="color:black" class="text-center">{{service.name}}</p>
                    </li>
                  {% endfor %}
                </ul> 
              </div>
            </div>
          </div>
{% include en/footer.html %}
