        <!-- FOOTER 1 FONT WHITE only social links -->
        <footer id="footer1" class="page-section text-center p-100-cont bg-g-b-grad">
            <div class="container">
  
                <!-- Social Links -->
                <div class="footer-soc-a">
                    <a class="a-white" href="https://fb.me/GetDashyx" title="Facebook" target="_blank"><i class="fa fa-facebook"></i></a>
                    <a class="a-white" href="https://twitter.com/GetDashyx" title="Twitter" target="_blank"><i class="fa fa-twitter"></i></a>
                  </div>
                  <br>
                  <br>
  
                <blockquote class="bq2-cont text-center ls-1 font-20 pb-0">
                    <h4>Dashyx was created in France, by Cassim Khouani (Aituglo)</h4>
                    <span class="test-quote-before"><a class="button medium rounded gray-light" target="_blank" href="https://aituglo.com">More about the developer</a></span>
                  </blockquote>
                      <br><br>
            
              <div class="footer-soc-a">
                <p>Theme by <a href="https://themeforest.net/">Themeforest</a></p>
              </div>
                      
            </div>
          </footer>
          <!-- BACK TO TOP -->
          <p id="back-top">
            <a href="#top" title="Back to Top"><span class="icon icon-arrows-up"></span></a>
          </p>
          
    </div><!-- End BG -->	
</div><!-- End wrap -->	